:root {
    --Light: #f8f8f8;
    --Dark: #1F2833;
    --LightCyan: #45A29E;
    --DarkCyan: #66FCF1;
    --textContent: #c5c5c5;
}

* {
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #1F2833;
    color:#c5c5c5;
    transition: 0.5s;
}

body.active{
    background: #f8f8f8;
}

/* * Header * */
.top-bar h1, .top-bar h2 {
   margin: 5px; 
   margin: 10px;
   font-weight: 900;
   font-size: 35px;
}

.top-bar {
    width: 100%;
    margin: 10px;
    padding: 0 20px 10px 20px;
    display: flex;
    justify-content: space-between;
}

.titles, #toggle {
    width: 50%;
}

.titles {
    color: #66FCF1;
}

.titles.active {
    color: #45A29E;
}

#toggle { 
    position: relative;
    display: block;
    width: 120px;
    height: 50px;
    margin: 10px;
    border-radius: 160px;
    background: #222;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
                inset 0 8px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.1);
}

#toggle.active{
    background: #fff;
    margin: 10px;
    box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
                inset 0 2px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.05);
}

#toggle .indicator {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 50px;
    height: 50px;
    margin: 10px;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(0,0,0,0.5),
                inset 0 4px 4px rgba(225,225,255,0.2),
                inset 0 -4px 4px rgba(225,225,255,0.2);
    transition: 0.5s;
}

#toggle.active .indicator {
    Left: 60px;
    margin: 10px;
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    box-shadow: inset 0 8px 20px rgba(0,0,0,0.1),
                inset 0 4px 4px rgba(255,255,255,1),
                inset 0 -4px 4px rgba(255,255,255,1);
}

/* * Body * */
.hero {
    background-image: url(./images/jam-jamming\ \(2\).jpg);
    background-size: cover;
    background-position: center;
}

.hero-1 {
    background-color: rgb(8, 242, 110);
}

.hero-2 {
    background-color: rgb(42, 157, 244);
}

.hero-3 {
    background-color: rgb(207, 102, 121);
}
.hero.active {
    background-color: #45A29E;
}

#searchHistory {
    background-color: #c41416;
    color: #0B0C10;
    transition: 0.5s;
}

#searchHistory.active {
    background-color: #cf6679;
    color: #def7f6;
}

#ticketmaster {
    background-color: #059152;
    color: #0B0C10;
    transition: 0.5s;
}

#ticketmaster.active {
    background-color: rgb(8, 242, 110);
    color: #def7f6;
}

#userPlaylist {
    background-color: #1167b1;
    color: #0B0C10;
    transition: 0.5s;
}

#userPlaylist.active {
    background-color: #2a9df4;
    color: #def7f6;
}

#searchedResults {
    background-color: #F58216;
    color: #0B0C10;
    transition: 0.5s;
}

#searchedResults.active {
    background-color: #FFB347;
    color: #def7f6;
}