body{
    background-color: rgb(73, 73, 73);
    color:rgb(197, 197, 197);
}

/* .fresh-playlist button {
    border: 1px solid #fff;
    color: black;
    padding: 3px;
    border-radius: 20px;
    width: 100%;
}  */